/* Fix overflow */
* {
    margin: 0;
    padding: 0;
  }


html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #e0def4;
    background-color: #191724
}


/* Clickable
----------------------  */
a{
    text-decoration: none;
}

a:visited {
    color: #e0def4;
}

a:hover, button:hover {
    color: #9ccfd8;
}

button {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    color: #e0def4;
    border: none;
    background: none;
    outline: none;
}

li{
    list-style-type: none;
}

/* Grid
----------------------  */
.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
      'header header header'
      'sidearea content content'
      'footer footer footer';
  }

/* Header
----------------------  */
header {
    grid-area: header;
    background-color: #26233a; 
}


.topbar ul{
    display: flex;
    flex-wrap: wrap; 
    justify-content:flex-end
}

.topbar li {
    padding: 0.8em;
}

/* Side Navigation Menu w/o Javascript
----------------------  */

.sidenav{
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    background-color:#1f1d2e;
    width: 250px;
    height: 100%;
}

.sidenav > * {
    padding: 0.5em 0.5em 0.5em 2em;
    font-size: 1.1em;
    transition: 0.2s
  }

.sidenav h2{
    font-weight: 100;
    color: #f6c177;
}

/* Sidearea
----------------------  */
.sidearea {
    grid-area: sidearea;
}

#sidemenu-open-button{
    font-size: 1.3em;
    color: #e0def4;
    padding: 0.6em
}

#sidemenu-close-button {
    font-size: 1.3em;
    margin-left: auto;
    transition: 0s;
}

/* Content
----------------------  */
.content {
    grid-area: content;
    display: flex;
    justify-content: left;
}

.note {
    padding-top: 20vh;
}

.note > a{
    color:#ebbcba;
    font-size: 1.3em;
    padding-right: 0.1em;
}

.note a:hover {
    color:#9ccfd8;
}

textarea {
    vertical-align: top;
    outline: none;
    resize: none;
    width: 500px;
    height: 400px;
    border-color: #26233a;
    background-color: #26233a;
    color: #e0def4;
    font-size: 1em;   
}

textarea:focus {
    border-color: #6e6a86;
}

.buttons-container{
    display:flex;
    justify-content:flex-end;
}

.input-button {
    padding-inline: 0.4em;
}

.input-button:hover {
    color:#9ccfd8;
}

/* Footer
----------------------  */
footer {
    grid-area: footer;
    background-color:  #26233a;
}

footer > ul{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items:center
}

footer li {
    padding-inline: 0.8em;
}

.social-media{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    padding: 0.8em
}

#author {
    font-size: 0.8em;
    color: #6e6a86;
}


/* Responsiveness
----------------------  */
@media screen and (max-width: 850px) {

    /* Shrink most elements*/
    html{
        font-size: 14px;
    }

    .note {
        padding-top: 10vh;
    }

    .buttons-container{
        justify-content: flex-start;
    }

    textarea {
        max-width: 80%
    }

    .sidenav{
        width: 150px
    }
}

/* Responsiveness, Mobile
----------------------  */
@media screen and (max-width: 600px) {
    html{
        font-size: 12px;
    }
    .note {
        padding-top: 5vh;
    }

    textarea {
        max-width: 40%
    }
    .sidenav{
        width: 100px
    }

    footer > ul{
        font-size: 1.2em;
        flex-direction: column;
    }
}