* {
    margin: 0;
    padding: 0;
  }


html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #e0def4;
    background-color: #191724
}

a {
    text-decoration: none;
}

a:visited {
    color: #e0def4;
}

a:hover {
    color: #9ccfd8;
}

/* Grid
----------------------  */
.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
      'header header header'
      'sidemenu content content'
      'footer footer footer';
  }

/* Header
----------------------  */
header {
    grid-area: header;
    background-color: #26233a; 
}


.topbar ul{
    display: flex;
    flex-wrap: wrap; 
    justify-content:flex-end
}

.topbar li {
    list-style-type: none;
    padding: 0.8em;
}

/* Sidemenu
----------------------  */
.sidemenu {
    grid-area: sidemenu;
}

#sidemenu-button {
    font-size: 1.5em;
    color: #e0def4;
    padding: 0.5em
}

#sidemenu-button:hover {
    color: #9ccfd8;
}

/* Content
----------------------  */
.content {
    grid-area: content;
    display: flex;
}

.note {
    padding-top: 20vh
}

.note a{
    color:#ebbcba;
    font-size: 1.3em;
    padding-right: 0.1em
}

.note a:hover {
    color:#9ccfd8;
}

textarea {
    vertical-align: top;
    outline: none;
    resize: none;
    width: 500px;
    height: 400px;
    border-color: #26233a;
    background-color: #26233a;
    color: #e0def4;
    font-size: 1em;   
}

textarea:focus {
    border-color: #6e6a86;
}

/* Footer
----------------------  */
footer {
    grid-area: footer;
    background-color: #1f1d2e
}

footer > ul{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items:center
}

footer li {
    list-style-type: none;
    padding-inline: 0.8em;
}

.social-media{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    padding: 0.8em
}

#author {
    font-size: 0.8em;
    color: #6e6a86;
}

