html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #e0def4;
    background-color: #191724
}

a{
    text-decoration: none;
}

a:hover {
    color: #9ccfd8;
}

a:visited {
    color: #e0def4;
}

/* Grid
----------------------  */
.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'header header header'
      'sidebar content content'
      'footer footer footer';
  }

/* Header
----------------------  */
header {
    grid-area: header;
    background-color: #26233a; 
}


.topbar ul{
    display: flex;
    flex-wrap: wrap; 
    justify-content:flex-end
}

.topbar li {
    list-style-type: none;
    padding-inline: 0.8em;
}

/* Content
----------------------  */
.content {
    grid-area: content;
}

/* Footer
----------------------  */
footer {
    grid-area: footer;
    background-color: #1f1d2e
}

footer ul{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

footer li {
    list-style-type: none;
    padding-inline: 0.8em;
    
}
