* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #575279
  }


html {
    
    background-color: #faf4ed
}

a {
    text-decoration: none;
}

a:visited {
    color: #e0def4;
}

a:hover {
    color: #b4637a
}

/* Grid
----------------------  */
.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
      'header header header'
      'sidemenu content content'
      'footer footer footer';
  }

/* Header
----------------------  */
header {
    grid-area: header;
    background-color: #f2e9de
}


.topbar ul{
    display: flex;
    flex-wrap: wrap; 
    justify-content:flex-end
}

.topbar li {
    list-style-type: none;
    padding: 0.8em;
}

/* Sidemenu
----------------------  */
.sidemenu {
    grid-area: sidemenu;
}

#sidemenu-button {
    font-size: 1.5em;
    color: #575279;
    padding: 0.5em
}

#sidemenu-button:hover {
    color: #b4637a;
}

/* Content
----------------------  */
.content {
    grid-area: content;
    display: flex;
}

.note {
    padding-top: 20vh
}

.note a{
    color:#575279;
    
}

.note a:hover {
    color:#b4637a;
}

/* Footer
----------------------  */
footer {
    grid-area: footer;
    background-color: #f2e9de
}

footer > ul{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items:center
}

footer li {
    list-style-type: none;
    padding-inline: 0.8em;
}

.social-media{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    padding: 0.8em
}

#author {
    font-size: 0.8em;
    color: #6e6a86;
}

